.app {
  background: #303030;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  grid-gap: 10px;
  color: white;
}
.empty {
  font-family: SFNS Display;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.22em;
  color: #95989a;
  align-self: center;
  padding: 20px;
}

hr {
  height: 1px;
  background-color: #fff;
}

.request {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-gap: 10px;
  padding: 1px 5px;
  align-items: center;
}
.upvote {
  padding: 10px;
  font-size: 11px;
  background: #303030;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.upvote-icon {
  font-size: 15px;
}
.request-info h4 {
  margin: 0;
}
.request-info p {
  margin: 0;
  font-size: 11px;
}
.add-button {
  color: white;
  font-size: 20px;
}
.request img {
  height: 50px;
}
.request-title {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin: 0;
}
.search-bar {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  background: #484848;
  height: 35px;
  border-bottom: solid 2px white;
  grid-template-areas: "icon text close";
  grid-template-columns: 20px 1fr 20px;
  grid-gap: 10px;
}
.search-bar .placeholder {
  grid-area: text;
}
.search-bar-input {
  font-size: 13px;
  color: #d4d4d4;
  width: 100%;
  background: #484848;
  border: none;
  outline: none;
}
